{% extends "layout.html" %}

{% block title %}

Storage

{% endblock %}


{% block main %}
	<div class="text-center px-5">
		<!-- Button to add a new storage entry - opens input form as overlay -->
		<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#additem_modal" name="add_item" type="button">+ add item</button>

		<!-- Popup to enter item details for adding-->
		<div class="modal fade" id="additem_modal" tabindex="-1">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add item to storage</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
					<form action="/add_item" method="post">
						<div class="modal-body">
							<div class="mb-3">
								<input class="form-control" name="item" placeholder="item name" required type="text">
							</div>
							<div class="mb-3">
								<input class="form-control" name="amount" placeholder="amount" required type="text">
							</div>
							<div class="mb-3">
								<input class="form-control" name="unit" placeholder="unit" required type="text">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary">Add item</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="container"i id="table-content">
			<div class="row justify-content-md-center">
				<div class"col-lg-5">
					{% if storage_items is defined and storage_items|length > 0 %}
						<table class="table table-striped mt-5">
							<thead>
								<tr>
									<th class="td-left">Item</th>
									<th class="td-right">Amount</th>
									<th class="td-left">Unit</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for item in storage_items %}
									<tr>
										<td class="td-left">{{ item.item_name }}</td>
										<td class="td-right">{{ item.amount }}</td>
										<td class="td-left">{{ item.unit }}</td>
										<td>
											<a class="btn btn-primary btn-sm" href="/remove_item?id={{ item.id }}">&times;</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<h1 class="mt-5">Storage is empty</h1>
					{% endif %}
				</div>
			</div>
		</div>

	</div>
{% endblock %}
