{% extends "layout.html" %}

{% block title  %}

Storage overview

{% endblock %}


{% block main %}
<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add item to storage</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="/items/" method="POST" id="addItemForm" enctype="application/x-www-form-urlencoded">
				<div class="modal-body">

					<div class="mb-3">
						<label for="description" class="form-label" >Item description</label>
						<input autocomplete="off" class="form-control custom-drop-down" list="description" id="description" name="description" placeholder="enter or click for list" required type="text">
						{% if items is defined and items|length > 0 %}
						<datalist id="item-list" open="open">
							{% for item in items %}
							<option value="{{ item.description }}">
							{% endfor %}
						</datalist>
						{% endif %}
					</div>

					<div class="mb-3">
						<label for="amount" class="form-label">amount</label>
						<input class="form-control" id="amount" name="amount" placeholder="1, 2.3, 4000" required type="text">
					</div>
					<div class="mb-3">
						<label for="unit" class="form-label">unit</label>
						<input class="form-control" id="unit" name="unit" placeholder="L, kg, m, qm" required type="text">
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary" id="btnSubmit">Add item</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="deleteItemModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
				<a href="/" class="btn btn-primary" role="button" id="deleteConfirmButton" name="deleteConfirmButton">Yes</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editItemModal" tabindex="-1" aria-labelledby="editItemModalLabel" aria-hidden="true">
	<form id="editItemForm" name="editItemForm" enctype="application/x-www-form-urlencoded">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="editItemModalLabel">Edit item</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<input id="id" name="id" value="id" type="hidden">
						<input autocomplete="off" class="form-control custom-drop-down" list="description" id="description" name="description" value="description" required type="text">
					</div>

					<div class="mb-3">
						<label for="amount" class="form-label">amount</label>
						<input class="form-control" id="amount" name="amount" placeholder="1, 2.3, 4000" required type="text">
					</div>
					<div class="mb-3">
						<label for="unit" class="form-label">unit</label>
						<input class="form-control" id="unit" name="unit" placeholder="L, kg, m, qm" required type="text">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<a href="/" class="btn btn-primary" role="button" id="editConfirmButton" name="editConfirmButton">Save changes</a>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="row justify-content-center">
	<div class="col-md-4 mb-2">
		<div class="row justify-content-end pb-3">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addItemModal" name="addItem">+ add item</button>
		</div>
		<table class="table striped">
			{% if items is defined and items|length > 0 %}
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">Description</th>
					<th scope="col">Amount</th>
					<th scope="col">Unit</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
				<tr>
					<td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteItemModal" data-bs-item-id={{ item.id }} data-bs-item-descr={{ item.description }}><b>&times;</b></button></td>
					<td>{{ item.id }} {{ item.description }}</td>
					<td>{{ item.amount }}</td>
					<td>{{ item.unit }}</td>
					<td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editItemModal" data-bs-item-id={{ item.id }} data-bs-item-descr={{ item.description }} data-bs-item-amount={{ item.amount }} data-bs-item-unit={{ item.unit }}><b>&#9998;</b></button></td>
				</tr>
				{% endfor %}
			</tbody>
			{% else %}
			<thead>
				<tr><th class="text-center" scope="col" colspan=5>Inventory is empty.</th><tr>
			</thead>
			{% endif %}
		</table>
	</div>

</div>

<script>
// Helper script to send an HTTP DELETE request
function sendDeleteRequest(event, endpoint) {
	var xhttp = new XMLHttpRequest();
	event.preventDefault();
	console.log(event)
	xhttp.open("DELETE", endpoint, true);
	xhttp.onload = () => {
		if (xhttp.readyState === xhttp.DONE) {
			if (xhttp.status === 204) {
				window.location.href = "/"
			}
		}
	}
	xhttp.send(null);
}
// Helper script to send an HTTP PUT request
function sendPutRequest(event, endpoint) {
	// Retrieve form input
	const editForm = document.getElementById("editItemForm");
	const formData = new FormData(editForm);
	const formJson = Object.fromEntries(formData.entries());
	console.log(formJson)
	event.preventDefault();

	fetch(endpoint, {
		method: "PUT",
		headers: {
			"Content-Type": "application/json"
		},
		body: JSON.stringify(formJson)
	})
		.then(resp => { 
			console.log(resp.status);
			window.location.href = "/";
		});
}

	// Prepopulate deleteItemModal with item information
	const deleteItemModal= document.getElementById("deleteItemModal");
	deleteItemModal.addEventListener("show.bs.modal", event => {
		// Button that triggered the modal
		const button = event.relatedTarget;
		// Extract info from data-bs-* attributes
		const itemId = button.getAttribute("data-bs-item-id");
		const itemDescr = button.getAttribute("data-bs-item-descr");
		// Update the modal's content.
		const modalTitle = deleteItemModal.querySelector(".modal-title");
		const modalDeleteConfirmButton = deleteItemModal.querySelector("#deleteConfirmButton");

		modalTitle.textContent = `Delete item ${itemDescr}?`;
		modalDeleteConfirmButton.setAttribute("onclick", `sendDeleteRequest(event, '/items/${itemId}')`);
	});

	// Prepopulate editItemModal with item information
	const editItemModal= document.getElementById("editItemModal");
	editItemModal.addEventListener("show.bs.modal", event => {
		// Button that triggered the modal
		const button = event.relatedTarget;
		// Extract info from data-bs-* attributes
		const itemId = button.getAttribute("data-bs-item-id");
		const itemDescr = button.getAttribute("data-bs-item-descr");
		const itemAmount= button.getAttribute("data-bs-item-amount");
		const itemUnit= button.getAttribute("data-bs-item-unit");
		// Get modal elements
		const modalTitle = editItemModal.querySelector(".modal-title");
		const modalEditItemIdInput = editItemModal.querySelector("#id");
		const modalEditItemDescriptionInput = editItemModal.querySelector("#description");
		const modalEditItemAmountInput = editItemModal.querySelector("#amount");
		const modalEditItemUnitInput = editItemModal.querySelector("#unit");
		const modalEditConfirmButton = editItemModal.querySelector("#editConfirmButton");

		// Change modal elements contents
		modalTitle.textContent = `Change item ${itemDescr}:`;
		modalEditItemIdInput.value = `${itemId}`;
		modalEditItemDescriptionInput.value = `${itemDescr}`;
		modalEditItemAmountInput.value = `${itemAmount}`;
		modalEditItemUnitInput.value = `${itemUnit}`;
		modalEditConfirmButton.setAttribute("onclick", `sendPutRequest(event, '/items/${itemId}')`);
	});
</script>
{% endblock %}
