{% extends "layout.html" %}

{% block title  %}

Storage overview

{% endblock %}


{% block main %}

<h1>All Items</h1>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#additem_modal" name="add_item">+ add item</button>
<div class="modal" tabindex="-1" id=additem_modal>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add item to storage</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- <form action="/items/" method="POST" enctype="application/x-www-form-urlencoded"> -->
			<form action="/items/" method="POST" id="addItemForm" enctype="application/x-www-form-urlencoded">
				<div class="modal-body">

					<div class="mb-3">
						<label for="description" class="form-label" >Item description</label>
						<input autocomplete="off" class="form-control custom-drop-down" list="description" id="description" name="description" placeholder="enter or click for list" required type="text">
						{% if items is defined and items|length > 0 %}
						<datalist id="item-list" open="open">
							{% for item in items %}
							<option value="{{ item.description }}">
							{% endfor %}
						</datalist>
						{% endif %}
					</div>

					<div class="mb-3">
						<label for="amount" class="form-label">amount</label>
						<input class="form-control" id="amount" name="amount" placeholder="1, 2.3, 4000" required type="text">
					</div>
					<div class="mb-3">
						<label for="unit" class="form-label">unit</label>
						<input class="form-control" id="unit" name="unit" placeholder="L, kg, m, qm" required type="text">
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary" id="btnSubmit">Add item</button>
				</div>
			</form>
		</div>
	</div>
</div>

</div>

<div class="col-md-4 mb-2">
	{% for item in items %}
	<h4>{{item.id}} {{item.description}} {{item.amount}} {{item.unit}}</h4>
	{% endfor %}
</div>

{% endblock %}
